//set tone color for website
$main-text-color : #5f6680;
$text-white:white;
$text-black:black;


$main-color: #006cb5;
$main-color-80: #008ae6;
$main-color-60: #1aa3ff;
$main-color-40: #4db8ff;
$main-color-20: #99d6ff;


//color social
$color-facebook: #0083C9;
$color-twitter: #5BBCEC;
$color-google: #CE3C2D;
$color-instagram: #b4307d;

//middle nav
$nav-height : 80px; //height logo
$nav-padding: 10px 0;